<div id="<%= dom_id tweet %>">
  <p>
    <strong>Body:</strong>
    <%= tweet.body %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= tweet.owner %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= tweet.likes %>
  </p>

</div>
