<div id="<%= dom_id tweet %>">
  <p>
    <strong>Body:</strong>
    <%= tweet.body %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= User.find(tweet.user_id).email %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= tweet.likes.blank? ? 0 : tweet.likes %>
  </p>

</div>
