<%= render "form", tweet: @tweet %>


<div id="tweets" class="mt-5">
  <% @tweets.each do |tweet| %>
      <div class="tweet-container rounded">
        <%= render tweet %>
      </div>
    <% end %>  
</div>
