/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

$background-base-color: #181818;
$background-hover-color: #191919;
$background-second-color: #202020;
body {
    background-color: $background-base-color;
    color: white;
}
nav {
    margin-bottom: 1em;
    background-color: $background-second-color;
    color: white;
}
.background-second-color{
    background-color: $background-second-color;
}

.background-base-color{
    background-color: $background-base-color;
}

.tweet-container{
    border: 2px $background-base-color solid;
    transition-duration: 0.2s;
}
.tweet-container:hover{
    background-color: $background-hover-color;
    transition-duration: 0.2s;
}
.icon-zoom{
    transition-duration: 0.2s;
}
.icon-zoom:hover{
    transform: scale(1.2);
    transition-duration: 0.2s;
}
.comments-section-none{
    display: none;
}
.comments-section-visible{
    display: block;
}
.comment-toggler:hover{
    cursor: pointer;
}